{
    "root": true,
    "extends": "airbnb/legacy",
    "ecmaFeatures": {
        "modules": false,
    },
    "env": {
        "mocha": true
    },
    "globals": {
        "$": true,
        "expect": true,
        sinon: true
    },
    "rules": {
        "max-len": 0,
        "indent": [2, 4, { "SwitchCase": 1 } ],
        "space-in-parens": [2, "always", { "exceptions": ["{}", "[]", "()"] } ],
        "strict": [2, "global"],
        "react/jsx-quotes": 0,
        "jsx-quotes": [2, "prefer-single"],
        "brace-style": [2, "stroustrup"],
        "prefer-arrow-callback": 0,
        "no-unused-expressions": 0,
        "func-names": 0,
        "space-before-function-paren": [2, "never"]
    }
}
