{
    "root": true,
    "extends": "airbnb/legacy",
    "ecmaFeatures": {
        "modules": false,
    },
    "globals": {
        "$": true,
    },
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 } ],
        "space-in-parens": [2, "always", { "exceptions": ["{}", "[]", "()"] } ],
        "strict": [2, "global"],
        "react/jsx-quotes": 0,
        "jsx-quotes": [2, "prefer-single"],
        "brace-style": [2, "stroustrup"]
    }
}
